<% include partials/header.ejs %>

<div class="container mt-4">
    <div class="display-4 text-center">
        <h1>Update profile</h1>
        <a href="/logout" class="btn btn-outline-primary btn-sm">Logout</a>
    </div>
    <form action="/update/<%= data._id %>" method="POST">
        <div class="row">
            <div class="col-10 offset-2">
                <div class="form-group">
                    <label for="fname">First Name:</label>
                    <input class="form-control" type="text" name="fname" placeholder="first name" required value="<%= data.fname%>">
                </div>
                <div class="form-group">
                    <label for="lname">Last Name:</label>
                    <input class="form-control" type="text" name="lname" placeholder="last name" required value="<%= data.lname%>">
                </div>
                <label for="gen">Gender:</label>
                <select name="gen" value="<%= data.gen %>">
                    <option value="<%= data.gen %>"><%= data.gen %></option>
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                    <option value="others">Others</option>
                </select><br>
                <label for="reg">Register as:</label>
                <select name="reg" value="<%= data.reg %>">
                    <option value="<%= data.reg %>"><%= data.reg %></option>
                    <option value="admin">Admin</option>
                    <option value="student">Student</option>
                    <option value="volunteer">Volunteer</option>
                </select>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input class="form-control" type="email" name="email" placeholder="email" required value="<%= data.email%>">
                </div>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input class="form-control" type="text" name="username" placeholder="username" required value="<%= data.username%>">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input class="form-control" type="password" name="password" placeholder="Password" required value="<%= data.password %>">
                </div>
                <div class="form-group">
                    <label for="con_pass">Confirm Password:</label>
                    <input class="form-control" type="password" name="con_pass" placeholder="Re-type password" required value="<%= data.con_pass%>">
                </div>
                <button class="btn-primary">Update</button>
            </div>
        </div>
    </form>
</div>

<% include partials/footer.ejs %>